.gm-jumbotron{
background-image: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
 ),  url(images/portada.jpg); background-size: cover; backdrop-filter: brightness(50%);
}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.gm-texto-movil{
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.gm-texto-negrita{
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .gm-texto-movil{
    display: none;
  }
}